.map {
  min-width: 395px;

  @media screen and (max-width: 1024px) {
    height: 320px;
  }
  @media screen and (min-width:1025px) {
    height: 800px;
  }
}

::ng-deep p-orderList .ui-orderlist-list {
  height: 540px;
}

::ng-deep .yolp-ymapbanner {
  display: none;
}
