<form ngForm="#form" name="form">
  <div class="ui-fluid">
    <div class="ui-g">
      <div class="ui-g-6">
        <div class="map" id="map" #map></div>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-10">
          <input pInputText name="placeName" [(ngModel)]="placeName">
        </div>
        <div class="ui-g-2">
          <p-button label="追加" (onClick)="addPlace($event)"></p-button>
        </div>
        <div class="ui-g-12">
          <p-orderList [value]="places" [(selection)]="selectedPlaces" dragdrop="true">
            <ng-template let-place pTemplate="item">
              {{place.placeName}}
            </ng-template>
          </p-orderList>
        </div>
        <div class="ui-g-10">
        </div>
        <div class="ui-g-2">
          <p-button label="削除" (onClick)="delPlace($event)"></p-button>
        </div>
      </div>
    </div>
  </div>
x</form>
